<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="intellidining.diningpsu">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
    Allows Glide to monitor connectivity status and restart failed requests if users go from a
    a disconnected to a connected network state.
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DiningHallListActivity"
            android:label="@string/title_activity_dining_hall_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DiningHallDetailActivity"
            android:label="@string/title_activity_dining_hall_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuItemDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>